.landing-section {
  background-image: url("../../assets/landing-bg-min.jpg");
  background-size: cover;
  height: 100vh;
}

.landing-frame {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.landing-logo {
  width: 6em;
}

.landing-header {
  color: var(--color-lightgrey-one);
  margin-top: 2em;
  font-size: 4em;

  line-height: 1.2em;
  letter-spacing: -0.03em;
}

.landing-header span {
  color: var(--color-cucumber-main);
}

.landing-copy {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-lightgrey-one);
  margin-top: 1em;
  max-width: 60%;
  font-size: 1.4em;
  line-height: 1.6em;
}

.landing-cta {
  color: var(--color-lightgrey-one);
  background-color: var(--color-radish-main);
  border: 2px solid var(--color-radish-main);
  border-radius: 2em;
  margin-top: 3em;
  padding: 0.8em 0.1em;
  font-weight: 700;
  max-width: 20em;
}

.landing-cta:hover {
  background-color: transparent;
  color: var(--color-lightgrey-one);
}

.landing-checkmarks {
  margin-top: 2em;
  list-style: none;
  display: flex;
}

.landing-checkmark {
  color: var(--color-lightgrey-four);
  margin-left: 1em;
}

.landing-checkmark:first-child {
  margin-left: 0;
}

@media (max-width: 1800px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
  .landing-section {
    max-width: 100%;
  }
  .landing-frame {
    padding: 2em;
  }
  .landing-header {
    max-width: 100%;
    margin-top: 2em;
    font-size: 2.4em;
  }
  .landing-copy {
    max-width: 100%;
    font-size: 1em;
  }
  .landing-cta {
    width: 100%;
    max-width: 100%;
  }
  .landing-checkmarks {
    margin-top: 1em;
    flex-direction: column;
  }
  .landing-checkmark {
    margin-left: 0;
    margin-top: 0.4em;
  }
}

@media (max-width: 600px) {
  .landing-section {
  }
  .landing-frame {
    padding: 1em;
  }
  .landing-copy {
    max-width: 100%;
  }
}
