.landing-section {
  background-image: url("../../assets/landing-bg-min.jpg");
  background-size: cover;
}

.landing-logo {
  width: 6em;
}

.landing-header {
  color: var(--color-lightgrey-one);
  margin-top: 4em;
  font-size: 3em;

  line-height: 1.2em;
  letter-spacing: -0.03em;
}

.landing-header span {
  color: var(--color-turquoise);
}

.landing-copy {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-lightgrey-one);
  margin-top: 1em;
  max-width: 60%;
  font-size: 1.4em;
  line-height: 1.4em;
}

.landing-cta {
  color: var(--color-black);
  background-color: var(--color-turquoise);
  border: 2px solid var(--color-turquoise);
  border-radius: 2em;
  margin-top: 3em;
  padding: 0.8em 2em;
  font-weight: 700;
}

.landing-cta:hover {
  background-color: transparent;
  color: var(--color-lightgrey-one);
}

@media (max-width: 1800px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
  .landing-section {
    max-width: 100%;
    padding: 3em;
  }
  .landing-header {
    max-width: 100%;
    margin-top: 1.4em;
    font-size: 2.4em;
  }
  .landing-copy {
    max-width: 100%;
    font-size: 1em;
  }
  .landing-cta {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .landing-section {
    padding: 2em;
  }
  .landing-copy {
    max-width: 100%;
  }
}
