.navigation-container {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1.4em 4em;
  border-bottom: 1px solid var(--color-lightgrey-three);
  background-color: white;
}

.navigation-logo {
  width: 6em;
}

.navigation-list {
  display: flex;
}

.navigation-list__item {
  margin-right: 3em;
  padding: 0.3em 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.naviagtion-link {
  display: flex;
  color: var(--color-darkgrey-four);
  letter-spacing: -0.3px;
}

.naviagtion-link:hover {
  color: var(--color-aubergine-dark);
}

.navigation__item--icon {
  margin-right: 0.4em;
}

.navigation__item--icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list__item--account {
  margin-right: 0;
  border-radius: 50px;
  border: 1px solid var(--color-lightgrey-three);
}

.navigation-list__item--account > .naviagtion-link {
  color: var(--color-aubergine-dark);
}

/* Mobile navigation */

.mobile-navigation-container {
  position: fixed;
  width: 100vw;
  bottom: 0;
  border-top: 1px solid var(--color-lightgrey-two);
  background-color: white;
  z-index: 100;
}

.mobile-navigation-list {
  display: flex;
  justify-content: space-around;
}

.mobile-navigation-list > * {
  flex: 1 1 0;
}

.mobile-navigation-link {
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-darkgrey-one);
  letter-spacing: -0.3px;
}

.mobile-navigation__item--icon {
  font-size: 1.4em;
  margin-bottom: 0.2em;
}

.mobile-navigation__item--label {
  font-size: 0.8em;
  text-align: center;
}

/* Active state */

.is-active {
  color: var(--color-blueberry-main);
}
