.navigation-container {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1.4em 4em;
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-gray-primary);
}

.navigation-logo {
  width: 6em;
}

.navigation-list {
  display: flex;
}

.navigation-list__item {
  margin-right: 3em;
  padding: 0.2em 1.3em;
}

.naviagtion-link {
  color: var(--color-gray-secondary);
  letter-spacing: -0.3px;
}

.naviagtion-link:hover {
  color: dodgerblue;
}

.navigation-list__item--account {
  margin-right: 0;
  border-radius: 50px;
  border: 1px solid var(--color-dark);
  font-family: "IBM Plex Sans", sans-serif;
}

.navigation-list__item--account > .naviagtion-link {
  color: var(--color-dark);
}

.is-active {
  color: var(--color-black);
}
