.navigation-container {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.navigation-logo {
  height: 24px;
}

.navigation-list {
  display: flex;
}

.navigation-list__item {
  margin-right: 4em;
  padding: 0.2em 1em;
  letter-spacing: -0.3px;
}

.naviagtion-link {
  color: slategrey;
}

.naviagtion-link:hover {
  color: dodgerblue;
}

.navigation-list__item--account {
  margin-right: 0;
  border-radius: 50px;
  border: 1px solid #e41300;
  font-family: "IBM Plex Sans", sans-serif;
}

.navigation-list__item--account > .naviagtion-link {
  color: #e41300;
}

.is-active {
  color: #e41300;
}
