@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700");
@import "./utilities/reset.css";
@import "./components/Navigation/styles.css";
@import "./components/SignUp/styles.css";

:root {
  --color-base: #00ffa2;
  --color-dark: #004466;
  --color-black: #040921;
  --color-contrast: #ffaf21;
  --color-light: #efeded;
  --color-white: #faf9f9;
  --color-gray-primary: #6f697b;
  --color-gray-secondary: #3a3e51;
  /* */
  --color-brand-dark: hsl(10, 10, 10);
  --color-brand-main: hsl(10, 10, 10);
  --color-brand-bright: hsl(10, 10, 10);
  --color-brand-pastel: hsl(10, 10, 10);
  --color-highlight-dark: hsl(10, 10, 10);
  --color-highlight-main: hsl(10, 10, 10);
  --color-highlight-bright: hsl(10, 10, 10);
  --color-highlight-pastel: hsl(10, 10, 10);
  --color-brightness-one: #121212;
  --color-brightness-two: #333333;
  --color-brightness-three: #767676;
  --color-brightness-five: #999999;
  --color-brightness-nine: #dcdcdc;
  --color-brightness-ten: #ededed;
}

section {
  padding: 4em;
  font-family: "IBM Plex Serif, serif";
  background-color: var(--color-light);
  min-height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 8em;
  color: var(--color-black);
}

p {
  font-size: 1.4em;
  color: var(--color-dark);
}
