:root {
  --avatar-size: 36px;
}

.stack > * + * {
  margin-top: 2rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.unit-name {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--color-darkgrey-one);
}

.to-do-calendar-button {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.9em;
  color: var(--color-aubergine-dark);
  border: none;
  background-color: transparent;
}

.to-do-calendar-button__icon {
  margin-right: 0.4em;
}

.to-do-calendar-button:hover {
  color: var(--color-radish-main);
}

.to-do-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8em 0 1.2em 0;
}

@media (max-width: 1800px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
}
